/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        flex-direction: column;
    }

    #dasw-header {
        display: none;
    }

    #dasw-content {
        width: auto;
        padding: 10px;
    }

    #dasw-hi h1 {
        font-size: 2.5em;
    }

    #dasw-hi h1 span {
        font-size: 42px;
    }

    #dasw-hi img {
        margin: 3em 0;
        width: 100%;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
        flex-direction: column;
    }

    .contact-container {
        flex-direction: column;
    }

    .certified-img {
        width: 80%;
    }

    .certified-img img {
        width: 100%;
    }

    .card {
        margin: 0 0 1em 0;
        width: 100%;
    }

    .card-body {
        height: 100%;
    }

    #dasw-project h1 {
        margin: 0 0 0.3em 0;
    }

    .photo-profile {
        display: none;
    }

    .skills-logo {
        justify-content: flex-start;
        height: auto;
    }

    .skills-list {
        width: 100%;
        height: 100%;
        margin: 0.5em 0;
        padding: 0.5em;
    }

    .certified-list {
        width: 100%;
    }

    .contact {
        margin: 7em 0 0 0;
        text-align: center;
    }

    .contact h1 {
        font-size: 3em;
    }

    .contact-img {
        width: 100%;
        margin: 0 0 1em 0;
    }

    .contact-img img {
        width: 50%;
    }

    .contact-desc a {
        border-radius: 10px;
        width: 100%;
    }
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
    #dasw-header {
        display: none;
    }

    #dasw-content {
        width: auto;
        padding: 0 1em;
    }

    #dasw-hi img {
        width: 90%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 15em;
        top: 120px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    #dasw-header {
        display: none;
    }

    #dasw-content {
        width: auto;
        padding: 0 1em;
    }

    #dasw-hi img {
        width: 90%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 18em;
        top: 30px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    #dasw-content {
        padding: 0 1em;
    }

    #dasw-hi img {
        width: 70%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 18em;
        top: 30px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #dasw-hi img {
        width: 80%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 18em;
        top: 30px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #dasw-hi img {
        width: 80%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 18em;
        top: 30px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #dasw-hi img {
        width: 80%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 18em;
        top: 30px;
    }

    .project-list {
        justify-content: center;
    }

    .card {
        width: 42%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 721px) and (max-device-width: 1280px) {
    #dasw-header {
        width: 20%;
    }

    #dasw-content {
        width: 80%;
    }

    #dasw-hi img {
        width: 80%;
    }

    #dasw-hi h1 span {
        font-size: 1em;
    }

    .photo-profile img {
        width: 16em;
        top: 30px;
    }

    .project-list {
        justify-content: flex-start;
    }

    .card {
        width: 29%;
        margin: 0 0.5em 0.5em 0;
    }

    .dasw-about-contact {
        margin: 7em 0 0 0;
    }

    .contact-img {
        width: 50%;
    }

    .contact-img img {
        width: 80%;
    }

    .contact-desc {
        width: 50%;
    }

    .contact-desc a {
        width: 100%;
        border-radius: 10px;
    }

    .dasw-about-contact {
        justify-content: center;
    }

    .about-contact {
        width: 50%;
    }
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
    /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
    /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
    /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
    /* insert styles here */
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
    /* insert styles here */
}