@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');

* {
    font-family: 'Josefin Sans',
        sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a1329;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 0.2em;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: transparent;

}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: rgb(148, 148, 148);
    border-radius: 5em;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* DASW BODY */
.dasw-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/* END OF DASW BODY */

/* DASW GREETINGS */
.dasw-greetings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100vh;
    color: #fff;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
}

.dasw-greetings-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dasw-greetings-img img{
    width: 30%;
}

.dasw-greetings-desc{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.dasw-greetings-desc h1{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin: 8px 0;
    padding: 10px 0;
    font-size: 40px;
}

.dasw-greetings-desc span{
    font-size: 18px;
}

.button-group a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.button-group a:nth-child(1){
    background-color: #075e54;
    margin: 0 10px 0 0;
}

.button-group a:nth-child(2){
    background-color: #189c48;
}

.menu-greetings{
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 50px;
    padding: 0;
    list-style: none;
}

.menu-greetings li{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #a7a7a7;
    overflow: hidden;
    width: 40%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu-greetings li:hover{
    width: 55%;
    border-color: #fff;
}

.menu-greetings li a{
    text-decoration: none;
    color: #a7a7a7;
    width: 100%;
    padding: 15px 0;
    transition: .1s;
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.menu-greetings li a:hover{
    color: #fff;
}

.menu-greetings li::before{
    content: 'DASW PROJECT';
    font-size: 8px;
    transition: .1s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.menu-greetings li:nth-child(even){
    color: #0fc2e2;
}

.menu-greetings li:nth-child(odd){
    color: #cc4507;
}

.menu-greetings li:hover::before,
.menu-greetings li:hover a{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.social-media{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-left: 55px;
}

.social-media li{
    margin-right: 20px;
}

.social-media li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #a7a7a7;
    width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.social-media li a i{
    font-size: 30px;
}

.social-media li:nth-child(1){
    margin: 0;
    margin-right: 20px; 
}

.social-media li:nth-last-child(1){
    margin: 0;
}

.social-media li a:hover{
    color: #fff;
}
/* END OF DASW GREETINGS */

/* DASW CONTENT */
.dasw-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

/* DASW ABOUT */
.dasw-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    padding: 0 100px;
}

.dasw-about p{
    font-size: 23px;
    margin: 15px 0;
    line-height: 1.2em;
    color: #d8d7d7;
}
/* END OF DASW ABOUT */

/* DASW EXPERIENCE */
.dasw-experience{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 50px 30px;
    color: #fff;
}

.dasw-experience-card-container{
    display: flex;
    flex-direction: column;
}

.dasw-experience-card-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.dasw-experience-card-year{
    display: flex;
    flex-direction: column;
    width: 35%;
    color: #dddddd;
}

.dasw-experience-card-year h4{
    margin: 0;
}

.dasw-experience-card-desc{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.dasw-experience-card-desc h2{
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #dddddd;
}

.dasw-experience-card-desc span{
    color: #e0e0e0;
}

.dasw-certified{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: #fff;
}

.dasw-certified-card-container{
    display: flex;
    flex-direction: column;
}

.dasw-certified-card-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.dasw-certified-card-year{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.dasw-certified-card-year h4{
    margin: 0;
    color: #dddddd;
}

.dasw-certified-card-desc{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.dasw-certified-card-desc h3{
    margin: 0;
    margin-bottom: 10px;
    color: #dddddd;
}

.dasw-certified-card-desc span{
    color: #e0e0e0;
}
/* END OF DASW EXPERIENCE */

/* DASW PROJECT ONGOING */
.dasw-ongoing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 50px 30px;
}

.dasw-ongoing-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dasw-ongoing-heading a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.dasw-ongoing-heading h1{
    font-size: 40px;
    margin: 0 2em;
    text-align: center;
    color: #d8d8d8;
}

.dasw-ongoing-heading h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0.5em 0 0 0;
    color: #d8d8d8;
}

.dasw-ongoing-heading a {
    margin-left: 10px;
}

.dasw-ongoing-heading a img{
    width: 100%;
}

.dasw-ongoing-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.dasw-ongoing-content .swiper-button-next,
.dasw-ongoing-content .swiper-button-prev{
    background-color: #0376b8;
    color: #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dasw-ongoing-content .swiper-button-next::after,
.dasw-ongoing-content .swiper-button-prev::after{
    font-size: 20px;
}

.dasw-card-proj{
    display: flex;
    flex-direction: row;
}

.dasw-card-proj-content{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    background-color: #fff;
}

.dasw-card-proj-heading{
    display: flex;
    flex-direction: column;
}

.dasw-card-proj-desc{
    display: flex;
    flex-direction: column;
}
/* END OF DASW PROJECT ONGOING */

/* DASW WORK */
.dasw-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 50px 30px;
}

.dasw-work-heading{
    font-size: 40px;
    margin: 0 2em;
    text-align: center;
    color: #d8d8d8;
}

.dasw-work-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    color: #fff;
}

.dasw-work-content a{
    text-decoration: none;
    color: #fff;
}

.dasw-work-card-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.dasw-work-card-heading{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.dasw-work-content .dasw-work-card-content h4 i{
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.dasw-work-content a:hover .dasw-work-card-container{
    background-color: #ffffff13;
}

.dasw-work-content a:hover .dasw-work-card-content h4 i{
    opacity: 1;
    transform: translateX(20%) translateY(-30%);
    -webkit-transform: translateX(20%) translateY(-30%);
    -moz-transform: translateX(20%) translateY(-30%);
    -ms-transform: translateX(20%) translateY(-30%);
    -o-transform: translateX(20%) translateY(-30%);
}

.dasw-work-card-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15px;
}

.dasw-work-card-content .title h4{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
}

.dasw-work-card-content .title-desc{
    display: flex;
    flex-direction: row;
}

.dasw-work-card-content .title-desc span{
    border: 1px solid #fff;
    margin-right: 10px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dasw-work-card-content .desc{
    margin-top: 10px;
}
/* END OF DASW WORK */

/* DASW CONTACT */
.dasw-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 50px 30px;
}

.contact-head{
    font-size: 40px;
    margin: 0;
    color: #d8d8d8;
}

.contact-body{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 1px solid #00c3ff;
    width: 80%;
    padding: 20px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
}

.form-group label{
    margin: 0 0 4px 0;
}

.form-group input,
.form-group textarea{
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    transition: .5s;
}

.form-group input:focus,
.form-group textarea:focus{
    box-shadow: 0 0 3px 0 #414141;
}

.contact-form button{
    width: max-content;
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #AEDEFC;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.get-touch{
    display: flex;
    flex-direction: column;
}

.get-touch h3{
    margin: 0;
}

.get-touch ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    padding: 0;
}

.get-touch ul li{
    list-style: none;
    margin: 0 20px 0 0;
    font-size: 20px;
}
/* END OF DASW CONTACT */

/* END OF DASW CONTENT */